* {
  color: #eb9514;
}

img {
    border-radius: 8%;
    box-shadow: 5px 5px 0 #bbb;
}

a {
  padding: 8px ;

  text-decoration: none;
  color: #eb9514;
}

a:hover {
  border-bottom: 1px solid #e69a28;
  background-color: #e4cfaf;
}

/* =============================== */

/* body ここから */
body {
  width: 1100px;
  padding-bottom: 50px;
  margin: 0 auto;

  background-color: #f1efec;
}
/* body ここまで */
/* =============================== */

/* header  ここから */
header {
  display: flex;
  justify-content: space-between;

  margin-top: 30px;
  padding: 0 25px;
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;

  list-style: none;
}

header nav ul li {
  margin-left: 20px;
}
/* header  ここまで */
/* =============================== */

/* main-container ここから */
.main-container {
  width: 1050px;
  margin: 0 auto;
  padding-bottom: 80px;

  text-align: center;
}
/* main-container ここまで */
/* =============================== */

/* first view ここから */
.first-view {
  width: 100%;
  height: 500px;

  margin: 0 auto;
}

.first-image {
  height: 500px;
  background-image: url(image/first-view-image.jpg );
  background-size: cover;
}

.first-image h1 {
  padding-top: 270px;
  padding-left: 270px;
  font-size: 50px;
}
/* first view ここまで */
/* =============================== */

/* section-container ここから */
.section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 95%;
  height: 450px;

  margin: 100px auto;
  padding: 20px 10px;

  background-color: #f1e8d9;
  border-radius: 8%  20%;
}
/* section-container ここまで */
/* =============================== */

/* .profile-section ここから */
.profile-contents {
  display: flex;
  justify-content: center;
}

.profile-image {
  width: 40%;
}

.profile-image img {
  width: 60%;

  border-radius: 50%;
}

.profile-items {
  width: 35%;
}

.profile-items ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.profile-items ul li {
  margin-bottom: 20px;

  font-size: 20px;
  list-style: none;
}

.profile-items ul li > span {
  font-size: 24px;
  font-weight: bold;
}
/* profile-section ここまで */
/* =============================== */

/* .portfolio-section ここから */
.portfolio-contents {
  display: flex;
  justify-content: space-evenly;
}

.portfolio-contents {
  padding-left: 30px;
}

.portfolio-content {
  width: 30%;
  height: 250px;
}

.portfolio1 img {
  width: 90%;
}

.portfolio2 img,
.portfolio3 img {
  width: 70%;
}




/* portfolio-section ここまで */
/* =============================== */

/* .skill-section ここから */
.skill-section {

}

.skill-contents {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
}

.skill-title {
  text-align: center;
}

.skill-contents > div table {
  padding: 20px;
  border-radius: 5%;
  border: 1px solid #e69a28;
}

.skill-contents  th {
  padding-bottom: 20px;
}

.skill-section th span {
  padding-bottom: 10px;

  border-bottom: 1px dotted #e69a28;
}

.skill-contents  td {
  padding-right: 30px;
  padding-bottom: 20px;
}

.skill-contents td span {
  font-weight: bold;
}


/* .skill-section ここまで */
/* =============================== */

/* .career-section ここから */
.career-section {
  background-color: rgb(176, 194, 94);
}

.career-contents {
  text-align: left;
}

.career-contents table {
  padding-left: 20px;
}

.career-contents  th {
  padding-bottom: 20px;
}

.career-contents  td {
  padding-right: 30px;
  padding-bottom: 30px;
}

/* career-sectionここまで */
/* =============================== */

/* .contact-form-sectionここから */
.contact-form-section {
  background-color: rgb(194, 139, 94);
}

form {
  display: flex;
  justify-content: space-evenly;
}

.contact-form dl {
  display: flex;
  justify-content: start;
}

.form-name {
  padding-right: 10px;
}

.form-tel {
  padding-right: 12px;
}

.form-subject {
  padding-right: 10px;
}

.contact-form select {
  width: 180px;
}

.form-detail {
  padding-right: 20px;
}

.form-button {
  display: flex;
  justify-content: flex-end;
}

.form-button button {
  margin-left: 20px;
}

/* contact-form-content ここまで */
