a {
  padding: 8px ;

  text-decoration: none;
  color: #1b1b1b;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

img {
  border: 1px solid #012736;
}

/* =============================== */

/* body ここから */
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 1200px;
  margin: 0 auto;

  color: #1b1b1b;
  background-color: #e9e9e9;
  letter-spacing: 3px;
}
/* body ここまで */
/* =============================== */

/* header  ここから */
header {
  display: flex;
  justify-content: space-between;

  margin-top: 30px;
  padding: 0 25px;
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
}

header nav ul li {
  margin-left: 20px;
}

header h1 {
  font-weight: lighter;
}

/* header  ここまで */
/* =============================== */

/* main-container ここから */
.main-container {
  width: 1200px;
  margin: 0px auto;
  padding-bottom: 80px;

  text-align: center;
}
/* main-container ここまで */
/* =============================== */

/* first view ここから */
.first-view {
  width: 100%;
  height: 500px;

  margin: 0 auto;
  position: relative;
}

.first-image {
  height: 500px;

  background-image: url(image/first-view-image.jpg );
  background-size: cover;
}
/* first view ここまで */
/* =============================== */

/* section 全体ここから */
.section-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 100px auto ;
}

.section-title h2 {
  margin-bottom: 80px;

  text-align-last: left;
  color: #1b1b1b;
  font-size: 60px;
  font-weight: lighter;

}
/* section 全体 ここまで */
/* =============================== */

/* .portfolio-section ここから */
.portfolio-contents {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.portfolio-content {
  width: 33%;
  height: 250px;
  margin-bottom: 50px;
}

.portfolio1 img,
.portfolio2 img,
.portfolio3 img {
  width: 85%;
}

.portfolio-view-more {
  margin: 0 auto;

  border-bottom: 1px solid #1b1b1b;
  letter-spacing: 5px;
}

/* portfolio-section ここまで */
/* =============================== */

/* .skill-section ここから */
.skill-contents {
  display: flex;
  justify-content: space-evenly;

  text-align: left;
}

.skill-title {
  text-align: center;

  font-size: 22px;
}

.skill-contents > div table {
  padding: 20px;
  border-radius: 20px;
}

.skill-contents  th {
  padding-bottom: 30px;

  font-size: 20px;
}

.skill-section th span {
  padding-bottom: 10px;

  border-bottom: 2px solid #ffa114;
}

.skill-contents  td {
  padding-right: 30px;
  padding-bottom: 20px;
}

.skill-contents td span {
  font-weight: bold;
}


/* .skill-section ここまで */
/* =============================== */

/* .career-section ここから */
.career-contents {
  width: 93%;
  padding: 20px 10px 0px;

  text-align: left;
  border-radius: 20px;
}


.career-contents  p {
  margin-bottom: 30px;

  font-size: 20px;
  line-height: 30px;
}

/* career-sectionここまで */
/* =============================== */

/* .contact-form-sectionここから */

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

form ul {
  padding: 0;
  font-size: 20px;
}

form ul li {
  margin-bottom: 20px;
}

form input {
  width: 350px;
  margin-bottom: 20px;
  padding: 10px;

  font-size: 15px;
  border: 1px solid #012736;
  outline: none;
  color: #012736;
}

form textarea {
  width: 500px;
  margin-bottom: 20px;
  padding: 10px 14px;

  font-size: 15px;
  border: 1px solid #012736;
  outline: none;
  color: black;
}

.form-button {
  display: flex;
  justify-content: flex-start;
}

.form-button button {
  margin-right: 30px;
  padding: 18px 80px;

  font-size: 22px;
  color: #ffffff;
  background-color: rgb(139, 139, 139);
  border: none;
  outline: none;
}
/* contact-form-content ここまで */
/* =============================== */


/* footer ここから */
footer {
  height: 180px;
}

.footer-top nav {
  display: flex;
  justify-content: start;

  border-bottom: 2px solid rgb(61, 61, 61);
}

.footer-top nav ul {
  display: flex;
  margin: 30px 0;
  padding: 0;
}

.footer-top nav ul li {
  padding: 0px 20px;
}

.footer-bottom p {
  margin-top: 30px;
  text-align: right;
}

/* footer ここまで */
